

body {
	height: 100%;
	width: 100%;
	margin: 0;
	border: 0;

	background-color: #FFEFD4;
	color: #25372D;

	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

nav {
	display: flex;
	height: 7vh;
	justify-content: space-between;
	align-items: center;
	background-color: #2e8b57;
	color: white;
	padding: 0 3vw;

}

.nav-logo {
	width: 30%;
	font-family: "Pacifico", cursive;
	font-weight: 400;
	font-size: 2em;
	font-style: normal;
}

.nav-links {
	width: 40%;
	display: flex;
	justify-content: space-between;
}

nav a:link,
nav a:visited,
nav a:active {
	text-decoration: none;
	color: #FFEFD4;
}

nav a:hover {
	text-decoration: underline;
}

main {
	height: 93vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 9vh;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.5em;
}

#book-btn {
	background-color: #2e8b57;
	padding: 20px 40px;
	font-size: 1em;
	border: none;
	border-radius: 30px;
	color: #FFEFD4;
}